img {
  width: 75%;
}
.card:hover img {
  box-shadow: 0 0.5rem 1.5rem black;
  background-color: transparent;
}
.card:hover {
  padding-top: 1rem !important;
}
.card:hover h5 {
  padding-top: 3rem;

  color: rgb(237, 29, 36);
}

.card {
  background-color: transparent !important;
  padding-top: 2rem !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  color: white;

  text-align: center;
}
.card h5 {
  padding: 2rem;
}
